<h1>New Keeper Form Page</h1>

<%= form_with model: @keeper do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.fields_for :animals do |ff| %>
        <% ff.hidden_field :keeper_id %>
        
        <%= ff.label :name %>
        <%= ff.text_field :name %>

        <%= ff.label :species %>
        <%= ff.text_field :species %>

        <%= ff.label :bio %>
        <%= ff.text_area :bio %>

        <%= ff.fields_for :wishes do |t| %>

            <%= t.collection_check_boxes :toy_id, Toy.all, :id, :id %>

        <% end %> 

    <% end %>

    <%= f.submit "Create Account" %>

<% end %>