<h1>Create a new Keeper account</h1>

<%= form_with model: @keeper do |f| %>
    <%# render keeper form %>
    <%= render 'form' %>

    
        <%# render animal form %>
        <%= render partial: 'animals/form', locals: {animals: @keeper.animals.build} %>

        <!-- <%= ff.fields_for :wishes do |fff| %>
            <%= fff.collection_check_boxes :toy_id, Toy.all, :id, :id %>
        <% end %> -->
   

    <%= f.submit "Create Account" %>
<% end %>