<section class="new-user">
<h1>Create a new Keeper account</h1>

<%= form_with model: @keeper do |keeper| %>

    <%= render partial: 'form', locals: {keeper: keeper} %>

    <%= keeper.fields_for :animals do |animal| %>  
        <%= render partial: 'animals/form', locals: {animal: animal} %>
        <%= animal.collection_check_boxes :toy_ids, Toy.all, :id, :id %>
    <% end %>

    <%= keeper.submit "Create Account" %>
<% end %>
</section>